<%- include('layout/header'); -%>
<%- include('layout/subheader'); -%>


<div class="addedtasks">
	<% todos.forEach(function(todo){ %>
		<div class="accordion-item">
			<h2 class="accordion-header" id="h<%= todo._id  %>">
				<button class="accordion-button" type="button" data-bs-toggle="collapse"
					data-bs-target="#c<%= todo._id %>" aria-expanded="true"
					aria-controls="c<%= todo._id %>">
					<%= todo.name %>
			</h2>
			<div id="c<%= todo._id  %>" class="accordion-collapse collapse"
				aria-labelledby="h<%= todo._id  %>" data-bs-parent="#accordionExample">

				<div class="d-flex">
					<div class="accordion-body">
						<%= todo.body %>
					</div>
					<div class="options">
						<a href="/todo/edit/<%=todo._id  %>" class="edittodo">
							<i class="bi bi-pencil-square"></i>
						</a>

						<a href="/todo/delete/<%=todo._id  %>"
							class="deletetodo" data-id="<%= todo._id  %> ">
							<i class="fa-solid fa-trash"></i>
						</a>

					</div>
				</div>
			</div>
		</div>

		<br>
		<% }) %>


</div>


</div>




<%- include('layout/footer'); -%>